<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CronFrame</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="/styles">
</head>

<body>
    <div id="container">
        <header>
            <div id="logo">
                <a href="/"><span style="color:#494949">Cron</span><span style="color:#FF3D00">Frame</span></a>
            </div>
            <div id="refresh" onclick="reloadPage()">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24">
                    <path
                        d="M21,15v-5c0-3.866-3.134-7-7-7l-3,0c-0.552,0-1,0.448-1,1v0c0,1.657,1.343,3,3,3h1	c1.657,0,3,1.343,3,3v5h-1.294c-0.615,0-0.924,0.742-0.491,1.178l3.075,3.104c0.391,0.395,1.03,0.395,1.421,0l3.075-3.104	C23.218,15.742,22.908,15,22.294,15H21z"
                        opacity=".35"></path>
                    <path
                        d="M3,9v5c0,3.866,3.134,7,7,7h3c0.552,0,1-0.448,1-1v0c0-1.657-1.343-3-3-3h-1c-1.657,0-3-1.343-3-3V9h1.294	c0.615,0,0.924-0.742,0.491-1.178L5.71,4.717c-0.391-0.395-1.03-0.395-1.421,0L1.215,7.822C0.782,8.258,1.092,9,1.706,9H3z">
                    </path>
                </svg>
            </div>
        </header>

        <div id="status">
            Status: Running . . .
        </div>

        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            &lt;/&gt; Antonio Cimino
        </footer>
    </div>
    <script>
        const reloadPage = () => {
            location.reload();
        };
    </script>
</body>

</html>