<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CronFrame</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="/styles">
</head>

<body>
    <div id="container">
        <header>
            <div id="logo">
                <a href="/"><span style="color:#494949">Cron</span><span style="color:#FF3D00">Frame</span></a>
            </div>
        </header>

        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            &lt;/&gt; Antonio Cimino
        </footer>
    </div>
    <script>
        const reloadPage = () => {
            location.reload();
        };
    </script>
</body>

</html>