{% extends "base" %}

{% block content %}
    <h2>Status: running</h2>
    <ol>
        {% for cron_job in cron_jobs %}
            {% set link = "/job/" ~ cron_job.name ~ "/" ~ cron_job.id %}
            <li><a href="{{link}}">{{cron_job.name}}</li>
        {% endfor %}
    </ol>
{% endblock content %}