{% extends "base" %}

{% block content %}
<div id="job_info">
    <div class="job_info_item">Current Jobs</div>
    {% for cron_job in cron_jobs %}
    {% set link = "/job/" ~ cron_job.name ~ "/" ~ cron_job.id %}
    <div class="job_info_item"><a href="{{link}}">{{cron_job.name}}</a></div>
    {% endfor %}
</div>
{% endblock content %}