{% extends "base" %}

{% block content %}
    <h2>Job Info</h2>
    <ul>
        <li>Name: {{job_name}}</li>
        <li>Type: </li>
        <li>Run ID: </li>
        <li>Status: </li>
        <li>Timeout: </li>
        <li>Schedule: </li>
        <li>Next Schedule: </li>
        <li>Cron expression: {{job_info}}</li>
    </ul>
{% endblock content %}