body{
    background: #F6F6F6;
    color: #494949;
    font-family: "Lato"!important;
}

a{
    text-decoration: none;
}

a:link {
    color: #FF3D00;
}

a:visited {
    color: #ffa702;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

header{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

#logo{
    flex: 2;
    font-weight: bold;
    font-size: 30pt;
}

#refresh{
    display: inline-block;
    hight: auto;
    width: 25px;
    opacity: 0.5;
}

#refresh:hover{
    cursor: pointer;
    opacity: 1;
}

footer{
    padding: 15px;
    text-align: right;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottomn: 5px;
    border-left: 3px solid #FF3D00;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 800px;
    margin: auto;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.1);
}

#status{
    font-weight: bold;
    background: rgba(51, 255, 0, .3);
    padding: 15px;
    border-radius: 6px;
    color: rgba(0,0,0,.4);
}

#content{
    background: #F1F1F1;
    padding: 15px;
    border-radius: 6px;
}

input[type=text], input[type=number] {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=number]:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 4px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

button {
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:active {
    background-color: #FF3D00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.line_status_green{
    font-weight: bold;
    display: inline-block;
    background: rgba(51, 255, 0, .5);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
}

.line_status_yellow{
    font-weight: bold;
    display: inline-block;
    background: rgba(255, 236, 102, 1);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
}

.line_status_orange{
    font-weight: bold;
    display: inline-block;
    background: rgba(255, 61, 0, .8);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
}

.line_status_gray{
    font-weight: bold;
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.4);
}

.clipboard{
    margin: 2px;
    opacity: 0.5;
}

.clipboard:hover{
    opacity: 0.8;
    cursor: pointer;
}

.id_cont{
    display: inline;
    padding: 8px;
    border-radius: 6px;
    background: rgba(0,0,0,.1);
}

table{
    border-collapse: collapse;
}

#job_info td{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.05)
}

#job_info th, #job_info td:nth-child(1){
    font-weight: bold;
    font-size: 16pt;
    border-right: 1px solid rgba(0,0,0,.05)
}

#job_info th{
    text-align: left;
    font-size: 20pt;
    padding: 15px;
    border: 0;
}

#job_info tr:last-child td{
    border: 0px;
    border-right: 1px solid rgba(0,0,0,.05)
}

#job_info tr:last-child td:last-child{
    border: 0px;
}

#job_list td{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.05)
}

#job_list th, #job_list td:nth-child(1){
    font-weight: bold;
}

#job_list th{
    text-align: left;
    font-size: 20pt;
    padding: 15px;
    border: 0;
}

#job_list tr:last-child td{
    border: 0px;
}

#job_list tr:last-child td:last-child{
    border: 0px;
}